* {
  padding: 0;
  margin: 0;
  border: 0;
}

@font-face {
  font-family: 'Tinos';
  src: url("../fonts/Tinos/Tinos-Regular.ttf");
}

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Cookie';
  src: url("../fonts/Cookie/Cookie-Regular.ttf");
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  max-width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

@media screen and (max-width: 430px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 1120px) {
  .header {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 430px) {
  .header {
    padding: 20px 20px;
  }
}

.header__headerlogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 430px) {
  .header__headerlogo {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .header__logo img {
    width: 60px;
  }
}

.header__burger {
  display: none;
}

@media screen and (max-width: 430px) {
  .header__burger {
    display: block;
  }
}

.header__burger .burgeritem {
  width: 35px;
  height: 4px;
  background-color: #FF7400;
  border-radius: 50px;
}

.header__burger .burgeritem:nth-child(2) {
  margin: 5px 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 430px) {
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 10px;
    width: 100%;
    padding: 20px;
    background-color: rgba(65, 65, 65, 0.5);
  }
}

.header__item {
  font-family: OpenSansBold;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: white;
  margin-left: 22px;
}

@media screen and (max-width: 900px) {
  .header__item {
    margin-left: 7px;
  }
}

.header__item:first-child {
  margin-left: 0;
}

@media screen and (max-width: 430px) {
  .header__item {
    display: block;
    margin: 15px 0;
    font-size: 16px;
  }
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px 0 34px;
}

@media screen and (max-width: 900px) {
  .header__contact {
    margin: 0 20px 0 20px;
  }
}

@media screen and (max-width: 430px) {
  .header__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
  }
}

.header__contactleftbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid white;
  height: 45px;
  padding-right: 17px;
}

@media screen and (max-width: 430px) {
  .header__contactleftbox {
    border-right: 0;
  }
}

.header__contactright {
  padding-left: 34px;
}

@media screen and (max-width: 430px) {
  .header__contactright {
    padding-left: 0;
  }
}

.header__contactrighttel span {
  font-family: OpenSansBold;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

@media screen and (max-width: 900px) {
  .header__contactrighttel span {
    font-size: 15px;
  }
}

@media screen and (max-width: 430px) {
  .header__contactrighttel span {
    font-size: 18px;
  }
}

.header__contactrighttel img {
  padding-right: 5px;
}

@media screen and (max-width: 430px) {
  .header__contactrighttel img {
    padding: 0;
  }
}

.header__contactrighttext {
  font-family: OpenSansRegular;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  max-width: 160px;
}

@media screen and (max-width: 900px) {
  .header__contactrighttext {
    font-size: 12px;
  }
}

@media screen and (max-width: 430px) {
  .header__contactrighttext {
    font-size: 14px;
    margin-top: 10px;
  }
}

.header__link {
  padding: 14px 18px;
  background: #FF7400;
  font-family: OpenSansBold;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

@media screen and (max-width: 430px) {
  .header__link {
    margin-top: 20px;
  }
}

.block1 {
  max-width: 100%;
  height: 800px;
  background: url("../img/heroimage.png") 100%/cover no-repeat;
  padding-top: 150px;
}

@media screen and (max-width: 430px) {
  .block1 {
    background: url("../img/heroimage.png") 50%/cover no-repeat;
  }
}

.block1__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  margin-top: 170px;
}

.block1__smalltitle {
  font-family: Tinos;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  color: #D67E35;
}

@media screen and (max-width: 430px) {
  .block1__smalltitle {
    font-size: 30px;
    line-height: 34px;
  }
}

.block1__title {
  font-family: Tinos;
  font-weight: 400;
  font-size: 80px;
  line-height: 92px;
  color: #D67E35;
}

@media screen and (max-width: 430px) {
  .block1__title {
    font-size: 40px;
    line-height: 46px;
  }
}

.block1__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: OpenSansRegular;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-top: 12px;
}

.block1__subtitle::before {
  content: '';
  display: block;
  border: 1px solid white;
  width: 60px;
  height: 0;
  margin-right: 8px;
}

.block1__subtitle::after {
  content: '';
  display: block;
  border: 1px solid white;
  width: 60px;
  height: 0;
  margin-left: 8px;
}

@media screen and (max-width: 430px) {
  .block1__subtitle::before {
    display: none;
  }
  .block1__subtitle::after {
    display: none;
  }
}

.block1__subbutton {
  background: #FF7400;
  display: inline-block;
  padding: 14px 28px;
  font-family: OpenSansBold;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 20px;
}

.block2__box {
  margin-top: -110px;
}

.block2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1120px) {
  .block2__row {
    padding: 0 20px;
  }
}

@media screen and (max-width: 940px) {
  .block2__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 650px) {
  .block2__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 940px) {
  .block2__col {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 650px) {
  .block2__col {
    width: 100%;
  }
}

.block2__colbox {
  width: 349px;
  background: #FFFFFF;
  -webkit-box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 1 1 auto;
      -ms-flex-positive: 1 1 auto;
          flex-grow: 1 1 auto;
  padding: 20px;
}

@media screen and (max-width: 1090px) {
  .block2__colbox {
    width: 300px;
  }
}

@media screen and (max-width: 650px) {
  .block2__colbox {
    width: 100%;
  }
}

.block2__colimg {
  margin-top: 40px;
}

.block2__coltitle {
  text-align: center;
  font-family: Tinos;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #2C2C2C;
}

.block2__coltitle span {
  color: #BC9060;
}

.block2__coltext {
  text-align: center;
  font-family: Tinos;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #656363;
  margin-top: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.block3 {
  margin-top: 150px;
  padding-bottom: 180px;
}

@media screen and (max-width: 430px) {
  .block3 {
    margin-top: 70px;
    padding-bottom: 100px;
  }
}

.block3__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1080px) {
  .block3__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.block3__textcontent {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 430px) {
  .block3__textcontent {
    width: 100%;
    padding: 0 20px;
  }
}

.block3__title {
  margin-top: 16px;
  font-family: Tinos;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  color: #000000;
  text-align: center;
}

.block3__title span {
  color: #D67E34;
}

.block3__text {
  margin-top: 21px;
  width: 444px;
  text-align: center;
  font-family: OpenSansRegular;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #656363;
}

@media screen and (max-width: 1080px) {
  .block3__text {
    width: 100%;
  }
}

.block3__subcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

@media screen and (max-width: 430px) {
  .block3__subcontent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
}

.block3__subcontentitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

@media screen and (max-width: 430px) {
  .block3__subcontentitem {
    margin: 10px 0;
  }
}

.block3__subcontentnumber {
  font-family: OpenSansRegular;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #BC9060;
}

.block3__subcontenttext {
  font-family: OpenSansRegular;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.block3__imgcontent {
  width: 50%;
}

@media screen and (max-width: 1080px) {
  .block3__imgcontent {
    margin-top: 50px;
    width: 100%;
  }
}

@media screen and (max-width: 330px) {
  .block3__imgcontent {
    display: none;
  }
}

.block3__imgbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block3__imgbox img {
  position: relative;
}

.block3__img1 {
  z-index: 10;
  top: 50px;
  left: 0px;
  max-width: 253px;
  height: 320px;
}

@media screen and (max-width: 480px) {
  .block3__img1 {
    width: 125px;
    height: 155px;
    top: 35px;
    left: 10px;
  }
}

.block3__img2 {
  z-index: 8;
  top: 0;
  left: -100px;
  max-width: 255px;
  height: 430px;
}

@media screen and (max-width: 480px) {
  .block3__img2 {
    width: 138px;
    height: 220px;
    top: 0;
    left: -35px;
  }
}

.block3__img3 {
  z-index: 9;
  top: 210px;
  left: -260px;
  height: 290px;
}

@media screen and (max-width: 480px) {
  .block3__img3 {
    width: 140px;
    height: 170px;
    top: 105px;
    left: -115px;
  }
}

.block3__img4 {
  z-index: 7;
  top: 35px;
  left: -510px;
}

@media screen and (max-width: 480px) {
  .block3__img4 {
    width: 115px;
    height: 85px;
    top: 20px;
    left: -250px;
  }
}

.block4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85))), url("../img/delicious-1866631_1920.png") 0/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.85)), url("../img/delicious-1866631_1920.png") 0/cover no-repeat;
}

@media screen and (max-width: 1440px) {
  .block4 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85))), url("../img/delicious-1866631_1920.png") no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.85)), url("../img/delicious-1866631_1920.png") no-repeat;
  }
}

@media screen and (max-width: 850px) {
  .block4 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85))), url("../img/delicious-1866631_1920.png") 50%/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.85)), url("../img/delicious-1866631_1920.png") 50%/cover no-repeat;
  }
}

.block4__box {
  padding: 80px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1120px) {
  .block4__box {
    padding: 80px 20px;
  }
}

@media screen and (max-width: 850px) {
  .block4__box {
    padding: 80px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 430px) {
  .block4__box {
    padding: 30px 20px;
  }
}

.block4__lefttext {
  max-width: 650px;
}

@media screen and (max-width: 850px) {
  .block4__lefttext {
    text-align: center;
  }
}

.block4__title {
  font-family: Tinos;
  font-weight: 400;
  font-size: 52px;
  line-height: 60px;
  color: #D67E34;
}

@media screen and (max-width: 430px) {
  .block4__title {
    font-size: 30px;
    line-height: 34px;
  }
}

.block4__text {
  font-family: OpenSansBold;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  margin-top: 20px;
}

@media screen and (max-width: 430px) {
  .block4__text {
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (max-width: 850px) {
  .block4__rightlink {
    padding-top: 20px;
  }
}

@media screen and (max-width: 430px) {
  .block4__rightlink {
    padding-top: 50px;
  }
}

.block4__link {
  font-family: OpenSansBold;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  background: #FF7400;
  padding: 14px 18px;
}

.block5__box {
  padding: 130px 0;
}

@media screen and (max-width: 1120px) {
  .block5__box {
    padding: 130px 20px;
  }
}

@media screen and (max-width: 480px) {
  .block5__box {
    padding: 60px 0;
  }
}

.block5__title {
  font-family: Tinos;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  color: #000000;
  text-align: center;
}

.block5__title span {
  color: #D67E34;
}

.block5__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 140px;
}

@media screen and (max-width: 990px) {
  .block5__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .block5__row {
    margin-top: 60px;
  }
}

@media screen and (max-width: 990px) {
  .block5__colleft {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .block5__colleft {
    width: 100%;
  }
}

.block5__colleft img {
  width: 100%;
}

.block5__colright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block5__colitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
}

@media screen and (max-width: 990px) {
  .block5__colitem {
    margin-top: 25px;
  }
}

@media screen and (max-width: 480px) {
  .block5__colitem {
    padding: 0 7px;
    margin-top: 40px;
  }
}

.block5__colitemtext {
  font-family: Tinos;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
  padding: 0 0 0 25px;
}

@media screen and (max-width: 480px) {
  .block5__colitemtext {
    padding: 0 0 0 10px;
  }
}

.block5__colitemtextname {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block5__colitemtextname::after {
  content: '';
  display: inline-block;
  width: 190px;
  border-top: 1px dashed black;
  margin: 2px 5px 0 10px;
}

@media screen and (max-width: 1120px) {
  .block5__colitemtextname::after {
    width: 100px;
  }
}

@media screen and (max-width: 1055px) {
  .block5__colitemtextname::after {
    width: 30px;
  }
}

@media screen and (max-width: 990px) {
  .block5__colitemtextname::after {
    width: 300px;
  }
}

@media screen and (max-width: 810px) {
  .block5__colitemtextname::after {
    width: 100px;
  }
}

@media screen and (max-width: 610px) {
  .block5__colitemtextname::after {
    width: 30px;
  }
}

@media screen and (max-width: 540px) {
  .block5__colitemtextname::after {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .block5__colitemtextname {
    display: block;
  }
}

@media screen and (max-width: 540px) {
  .block5__colitemtextprice {
    display: block;
    text-align: center;
    margin-top: 5px;
  }
}

.block6 {
  background: url(/img/bar-1869656_2.png) 0/cover no-repeat;
}

.block6__box {
  padding: 100px 0 220px 0;
}

@media screen and (max-width: 1110px) {
  .block6__box {
    padding: 100px 0 100px 0;
  }
}

@media screen and (max-width: 480px) {
  .block6__box {
    padding: 60px 0px 100px 0px;
  }
}

.block6__title {
  text-align: center;
  font-family: Tinos;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  color: #FFFFFF;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.block6__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 138px;
}

@media screen and (max-width: 1150px) {
  .block6__row {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1110px) {
  .block6__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 750px) {
  .block6__row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .block6__row {
    margin-top: 100px;
  }
}

@media screen and (max-width: 750px) {
  .block6__col {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .block6__col {
    width: 100%;
    display: none;
  }
  .block6__col:first-child {
    display: block;
  }
}

.block6__item {
  background-color: #FFFFFF;
  padding: 80px 0px 29px 0px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1110px) {
  .block6__item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 750px) {
  .block6__item {
    width: 100%;
  }
}

.block6__itemimg {
  position: relative;
}

.block6__itemimg img {
  border-radius: 50%;
}

.block6__itemcircle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  font-family: Cookie;
  font-family: 'Cookie';
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  color: #FFFFFF;
  background: #D67E34;
  border: 7px solid #FFFFFF;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 130px;
  top: 125px;
}

.block6__itemtitle {
  margin-top: 16px;
  text-align: center;
  font-family: Tinos;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}

.block6__itemtext {
  margin-top: 17px;
  text-align: center;
  font-family: OpenSansRegular;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  width: 225px;
  padding: 0 5px;
}

.block6__itembutton {
  font-family: OpenSansBold;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background: #D67E34;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  padding: 14px 0;
  margin-top: 20px;
  width: 220px;
}

.block7 {
  background: #E6E5E5;
}

.block7__box {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1120px) {
  .block7__box {
    padding: 100px 20px;
  }
}

@media screen and (max-width: 430px) {
  .block7__box {
    padding: 20px;
  }
}

.block7__text {
  max-width: 920px;
  font-family: OpenSansRegular;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.block7__personimg {
  margin-top: 20px;
}

.block7__personimg img {
  border-radius: 50%;
}

.block7__personjob {
  font-family: OpenSansBold;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  margin-top: 17px;
}

.block7__personname {
  margin-top: 9px;
  font-family: OpenSansRegular;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.block7__dotted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.block7__dotteditem {
  width: 5px;
  height: 5px;
  background: #C4C4C4;
  margin: 2px;
  border-radius: 50%;
}

.block7__dotteditem:last-child {
  border: 1px solid #FF7400;
}

.block8__box {
  padding: 100px 0 70px 0;
}

@media screen and (max-width: 540px) {
  .block8__box {
    padding: 70px 0;
  }
}

.block8__title {
  text-align: center;
  font-family: Tinos;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  color: #000000;
}

.block8__title span {
  color: #D67E34;
}

.block8__row {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 540px) {
  .block8__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.block8__img {
  margin-bottom: 28px;
}

@media screen and (max-width: 540px) {
  .block8__img {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .block8__img img {
    width: 100%;
  }
}

.block9__box {
  padding-bottom: 50px;
}

.block9__title {
  text-align: center;
  font-family: Tinos;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  color: #000000;
}

.block9__title span {
  color: #D67E34;
}

.block9__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
}

@media screen and (max-width: 1120px) {
  .block9__row {
    padding: 100px 20px 0 20px;
  }
}

@media screen and (max-width: 1070px) {
  .block9__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 740px) {
  .block9__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1070px) {
  .block9__col {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 430px) {
  .block9__col {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .block9__col img {
    width: 100%;
  }
}

.block9__dotted {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block9__dotteditem {
  width: 5px;
  height: 5px;
  background-color: #C4C4C4;
  margin: 3px;
  border-radius: 50%;
}

.block9__dotteditem:first-child {
  border: 1px solid #FF7400;
}

.block10 img {
  width: 100%;
}

footer {
  background-color: black;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  color: white;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*# sourceMappingURL=style.css.map */